@font-face {
    font-family: "Dana";
    font-style: normal;
    src: local("Dana-bold"), url("../Fonts/dana-fanum-bold.woff2") format("woff", "truetype");
}

@font-face {
    font-family: "Dana";
    font-style: normal;
    src: local("Dana-regular"), url("../Fonts//dana-fanum-regular.woff2") format("woff");
}

@font-face {
    font-family: "Dana";
    font-style: normal;
    src: local("Dana-medium"), url("../Fonts//dana-fanum-medium.woff2") format("woff", "truetype");
}